body{
    margin:0;
    background-image: url(img/rubg.jpg);
    background-color: #000;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-position-y: 180px;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}


/* header */

.header{
    width: 100%;
    height: 180px;
    min-width: 900px;
    margin: 0 auto;

    text-align: center;
    background-color: rgb(233, 233, 240);
}

.header-title{
    width: 50%;
    height: 50%;
    min-width: 900px;
    margin: auto;
    margin-bottom: 50px;
    padding-top: 30px;

    text-shadow: 2px 2px 10px #000;

    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 40px;
}


.header-nav a{
    padding: 10px;
    transition: 0.3s;
    border: 2px solid #000;
    margin: 20px;
    border-radius: 20px;

    color: #000;
    text-decoration: none;
    font-size: 19px;
}

.header-nav a:hover{
    background-color: rgb(160, 160, 170);
    box-shadow: 2px 2px 20px #000;
}

.header-nav a:focus{
    background-color: rgb(114, 114, 141);
    color: #000;
}




/* main */
.main{
    margin-bottom: 180px;
    width: 49%;
    min-width: 990px;
    margin: 0 auto;
    background-color: #d4d4d4;
    padding: 10px 0 20px;
}

.content{
    margin: 0 auto;
    padding: 0 30px;
    font-size: 24px;
}

.content p{
    padding: 0px 20px;
}

.last-news{
    text-align: center;
}

.main-title{
    margin-bottom: 10px;
    padding: 0px 20px;
}

.date{
    margin-top: 0;
    padding: 0px 20px;

    color: rgb(100, 100, 100);
    font-size: 14px;
}

.quote{
    font-style: italic;
}

.img-group{
    text-align: center;
}

.img{
    width: 350px;
    border: 2px solid #000;
    box-shadow: 3px 3px 20px #000;
}

.xqzmy{
    color: rgb(142, 79, 161);
    padding: 0px 20px;
}

/* footer */

.footer{
    width:100%;
    padding-left: 20px;
    background-color: #d9d9d9;
}

.footer-content{
    padding: 20px;
    width: 65%;
    height: 150px;
    min-width: 1200px;
    margin: 0 auto; 

    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.social{
    width: 40%;
    font-size: 24px;
    float: left;
}

.icons{
    width: 30px;
    padding-right: 10px;
}

.social a{
    display: inline-block;
    text-decoration: none;
    padding-bottom: 5px;
    color: #000;
}

.social a:hover{
    text-decoration: underline;
    color: red;
    transition: 0.5s;
}

.feedback{
    width: 30%;
    margin-right: 20px;
    float: right;
}

.feedback-title{
    margin: 0;
    font-style: italic;
}

.feedback a{
    color: #000;
    text-decoration: none;
}

.feedback a:hover{
    text-decoration: underline;
    color: red;
    transition: 0.3s;
}

/* under-footer */

.last-line{
    width: 100%;
    height: 70px;
    padding-left: 20px;

    background-color: #bbbbbb;
}

.last-line-content{
    padding: 20px;
    width: 65%;
    min-width: 1200px;
    margin: 0 auto; 
}

.copyright{
    display: inline-block;
    font-size: 24px;
    font-style: italic;
}